@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "LoyaltyOne Developer Homework";
}

<div>
    <input type="text" name="inputText" id="inputText" />
    <button onclick="return ButtonDone_Click()">Done</button>
    <br />
    <img id="imgLoadingText" alt="loading..." src="~/Images/loading.gif" style="display:none;" /><span id="textResponse"></span>
</div>

<script type="text/javascript" src="~/Scripts/ajax.js"></script>
<script type="text/javascript" src="~/Scripts/home.js"></script>
