<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="WeatherApiUrl" value="http://api.openweathermap.org/data/2.5/weather?q={0}&amp;APPID=d437e1ad893ad3947bc5862f1666ff8d" />
        <add key="CityDataTimeoutHrs" value="1" />
    </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>